.body {
    background: #fff;
    @include font(15px, 18px, $font-weight, $font-style, $font-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container-1600 {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.container {
    width: $container-width;
    margin: 0 auto;
}

@media (max-width: $tablet-width) {
    .container {
        width: 96%;
        max-width: 1140px;
    }

    .container-1600 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: $mobile-width) {
    .container {
        width: 96%;
    }

    .container-1600 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}