$black: #222222;
$pink-bkg: #F1E4E6;
$pink-txt: #F16D7F;
$white-txt: #FBFBFB;
$gray-bkg: #F8F8F8;

$font-size: 22px;
$line-height: 24px;
$font-weight: 400;
$font-style: normal;
$font-color: $white-txt;