.products {
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products__title {
    @include font(30px, 36px, $font-weight, $font-style, $black);
    @include flex-position();
    margin-bottom: 6px;
}

.products__text {
    @include font(14px, 17px, $font-weight, $font-style, $black);
    @include flex-position();
    margin-bottom: 48px;
}

.products__list {
    @include flex-position(space-between);
    flex-wrap: wrap;
    margin-bottom: 46px;
}

.products__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    background-color: $gray-bkg;
}

.products__item_img {
    width: 360px;
    min-height: 420px;
}

.products__item_title {
    padding: 10px;
    text-transform: uppercase;
}

.products__item_text {
    padding: 10px;
}

.products__item_price {
    padding: 10px;
    color: $pink-txt;
}

.products__button {
    width: 210px;
    height: 47px;
    border-radius: 0px;
    border: 1px solid $pink-txt;
    background-color: $white-txt;
    align-self: center;
}

.products__button-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $pink-txt;
}

.products__item-wrap {
    position: relative;
}

.overlay {
    width: 360px;
    min-height: 420px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: none;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.products__item:hover .button,
.products__item:hover .overlay {
    display: block;
}

.products__button:hover .products__button-text {
    color: $pink-bkg;
}

.products__button:hover {
    background-color: $pink-txt;
}